# POSTGRES
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=

# Django
SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# PGAdmin
PGADMIN_EMAIL=
PGADMIN_PASSWORD=

# Django Admin
# user : 
# pwd : 
# mail : 
