# =============================================================================
# REUIREMENTS - Transcendence Backend
# =============================================================================

# --- CORE FRAMEWORK ---
django                              # Main web framework
djangorestframework>=3.15,<4.0      # Toolkit for building REST APIs (Angular connectivity)
django-cors-headers                 # Handles Cross-Origin Resource Sharing (CORS) for Angular

# ---AUTHENTICATION ---
djangorestframework-simplejwt       # JWT authentication for angular
django-environ                      # Reads environment variables from .env
pyotp                               # A python library which handles TOTP for Django
qrcode[pil]                         # A python library which creates an image for QR code

# --- REAL-TIME / CHAT (WebSockets) ---
channels>=4.0,<5.0                  # Extends Django to handle WebSockets and long-running connections
channels-redis                      # Redis backing store for Django Channels
daphne>=4.0,<5.0                    # ASGI server to run the project with WebSocket support

# --- DATABASE ---
psycopg[binary]>=3.1,<4.0           # PostgreSQL database adapter for Python

# --- MEDIA & STATIC FILES ---
Pillow                              # Image procesing for avatars
whitenoise>=6.0,<7.0                # Serves static files with DAPHNE/ASGI

# --- HTTP ---
requests                            # HTTP client (used for OAuth token exchange)

# --- ADMIN ---
django-jazzmin                      # Moderne theme for Django admin panel