@media (min-width: 768px) {
  .style-sidebar {
    width: 220px !important;
    min-width: 220px !important;
  }
}

@media (max-width: 767.98px) {
  .border-md-end {
    border-right: none !important;
  }
}