:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main.Settings {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

body {
  text-align: center;
  justify-content: center;
}