:host {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main.Settings {
	width: 100%;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.Profile {
	padding-top: 80px;
	min-height: 100vh;
	background-color: #f8f9fa;
}